<div class="hero-unit">
  
  
  <h1>Dashboard</h1>
  <p>
    There are several things you can do: 
    create new public submissions,
    select project,
    create submission for project, 
    or just simply to vote  
  </p>
  <p>
    <%= link_to "Create NEW Submission »", projects_url , :class=>"btn btn-primary btn-large" %>
    <!--     <a class="btn btn-primary btn-large">Select Project »</a> -->
    
    <% if not current_user %>
      or 
      
      <%= link_to "Register »", new_user_session_url , :class => "btn btn-primary btn-large"%>
    <% end %>
    <!-- <a class="btn btn-primary btn-large">Register »</a> -->
  </p> 

</div>

<!-- Example row of columns -->




<div class="row">
  <div class="span8">
    <ul class="nav nav-tabs" id="tab">
      <li class="active"><a data-toggle="tab" href="#home">New Album</a></li>
      <li><a data-toggle="tab" href="#profile">Project Submission</a></li>
      <li><a data-toggle="tab" href="#profile">Vote</a></li>
    </ul>

    <ul class="breadcrumb">
      <li>
        <a href="#">Create Submission Particulars</a> <span class="divider">/</span>
      </li>
      <li>
        <a href="#">Upload Images</a> <span class="divider">/</span>
      </li>
      <li>
        <a href="#">Select Cover Image</a> <span class="divider">/</span>
      </li>
      
      
      <li class="active">
        <a href="#">Image Details</a>
      </li>
    </ul>
    
  
    <div class="entry_wrapper">
      <%= simple_form_for(@album, :html => {:class => 'form-horizontal' }) do |f| %>
      <%= f.input :title , :input_html => {:class => "input-xlarge"} %>
      <%= f.input :description, :input_html => {:rows => 5, :class => "input-xlarge" }%>
      
      <div class="form-actions">
        <%= f.button :submit , :class => "btn btn-primary" %>
        <!--                   <button class="btn btn-primary" type="submit">Save changes</button>
        <button class="btn">Cancel</button> -->
      </div>
                
                
      
      <% end %>
      
    </div>  <!-- .entry_wrapper -->
    <hr />
    
    
              
    
  </div>
  
  <div class="span4">
    <div>
      <h2>Ads ETC</h2>
      <p>Like us in facebook! </p>
      <p><a class="btn" href="#">View details »</a></p>
    </div>
    
    <div>
      <h2>Past Winners</h2>
      <p>Like us in facebook! </p>
      <p><a class="btn" href="#">View details »</a></p>
    </div>
    
    <div>
      <h2>Sponsors</h2>
      <p>Like us in facebook! </p>
      <p><a class="btn" href="#">View details »</a></p>
    </div>
    
  </div>
</div>