<%= render :partial =>"home/hero_unit_dashboard" %>
<!-- Example row of columns -->




<div class="row" id="playground">
  <div class="span8">
    <!-- <ul class="nav nav-tabs" id="tab">
       <li class="active"><a data-toggle="tab" href="#home">New Album</a></li>
       <li><a data-toggle="tab" href="#profile">Project Submission</a></li>
       <li><a data-toggle="tab" href="#profile">Vote</a></li>
     </ul> -->

    
       <%= create_breadcrumb(@breadcrumbs).html_safe %>
  
    <div class="entry_wrapper">
      <%= form_for @new_picture, :url => album_pictures_url(@album) , 
                :html => {:class=> "well form-search",
                  :id => 'upload_picture' }  do |f| %>
        <%#= hidden_field_tag 'is_original', 
                ORIGINAL_PICTURE  %>
        <%= transloadit :potoschool_store_image %>
        <%= f.file_field :original_image_url, :class => "input-medium search-query transloadit-input" , 
                  :multiple => "multiple", :style=>"width:200px;" %>
                  <br />
                  <br />
        <button type="submit" class=" hide btn submit-button">Upload</button>
        <p class="help-inline">You can upload multiple images at once.</p>
      
      <% end %>
    
      <% content_for :additional_js do %>
        <script type="text/javascript" src="//assets.transloadit.com/js/jquery.transloadit2.js"></script>
        <script type="text/javascript">
           // We call .transloadit() after the DOM is initialized:
           $(document).ready(function() {
             $('#upload_picture').transloadit({
               wait : true, 
               pollTimeout : 15000,
               processZeroFiles : false,
               onStart : function(assembly){
               }
             });
           });
        </script>
      <% end %>
      
      
    </div>  <!-- .entry_wrapper -->
    <hr />
    
    
              
    
  </div>
  
  <div class="span4">
    <%= render :partial => "home/dashboard_side_bar" %>
  </div>
</div>