<%= render :partial =>"home/hero_unit_dashboard" %>
<!-- Example row of columns -->




<div class="row" id="playground">
  <div class="span8">

    
          
          <!--           
              <ul class="nav nav-tabs" id="tab">
                <li class="active"><a data-toggle="tab" href="#home">New Album</a></li>
                <li><a data-toggle="tab" href="#profile">Project Submission</a></li>
                <li><a data-toggle="tab" href="#profile">Vote</a></li>
              </ul>
              
              -->

    <%= create_breadcrumb(@breadcrumbs).html_safe %>
    
     <%= render :partial => "pictures/select_cover_album" %>
      
      
    <!-- </div>  --> <!-- .entry_wrapper -->
    <hr />
    
    
    
    
        
              
    
  </div>
  
  <div class="span4">
    
    <%= render :partial => "pictures/upload_more", 
      :locals => {:album => @album,
                  :source => NOT_FROM_DASHBOARD} %>
    
    
    
    <%= render :partial => "home/dashboard_side_bar" %>
    
   
    
  
  </div>
</div>